---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import HeroSection from "../components/home/HeroSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";
import OurOfferings from "../components/OurOfferings";
import BlogSubscription from "../components/home/BlogSubscription.astro";
import PartnersGrid from "../components/home/PartnersGrid.astro";
import Contact from "../components/home/Contact.astro";
---

<MainLayout>
	<head>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-secondary">
		<Navigation />
		<HeroSection />
		<OurOfferings client:load />
		<BlogSubscription />
		<PartnersGrid />
		<Contact />
		<Footer />
	</body>
</MainLayout>
